*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header nav{
  display: flex;
  justify-content: space-between;
  background-color: rgba(171, 164, 164, 0.732);
  /* padding: 8px; */
  
 }

 .logo{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 800;
  color: aliceblue;
  text-decoration: none;
}
input{
  margin: 8px;
  border-radius: 8px;
  border: 1px solid #ababab;
  padding: 4px;
  width: 20%;
}
 header nav ul{
  display: flex;
  justify-content: space-around;
 }
 header nav ul li{
     display: inline;
     padding: 6px;
     margin: 8px;
     
 }
 
 header nav ul li a{
     text-decoration: none;
     padding: 6px;
     border-radius: 6px;
     color: rgb(47, 45, 45);
     font-weight: 500;
 }

 header nav ul li a:hover{
  background-color: rgb(110, 102, 102);
  color: white;
  
 }
 header nav ul li a.active{
  background-color: rgb(65, 60, 60);
  color: white;
  
 }

 .content{
  text-align: center;
 }