.home{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.leftSideBar{
    position: sticky;
    border-radius: 18px 0 18px;
    min-width: 210px;
    height: 80vh;
    margin: 80px  16px 0 32px ;
    font-size: 20px;
    box-shadow: 3px 3px 6px #0000001d;
    top: 50px;
    /* background-color: rgba(117, 113, 113, 0.23); */
}

.home .icon{
    width: 22px;
    display: inline-block;
    margin: 0 13px;
    color: #ffffff;
}
.home .subTopic{
    color: #5a56564e;
    font-weight: 700;
    font-size: 18px;
    margin-left: 16px;
}
.home .icon:hover{
    color: #ffffff;
}
.carouselContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.carousel{
    display: flex;
    align-items: flex-end;
    width: 270px;
    height: 140px;
    background-color: rgb(64, 69, 69);
    border-radius: 18px;
    overflow: hidden;
   position: relative;
}

.carousel img{
    width: 100%;
}

.carousel p{
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    margin: 8px;
    z-index: 99;
    color: #ffffff;
}

.rightSideBar{
    margin: 20px;
}

.home h1{
    margin: 80px 0px 30px;
}

.show-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.show-item{
    display: flex;
    align-items: center;
    position: relative;
}

.show-item .img-container{
    width: 120px;
    overflow: hidden;
    z-index: 111;
}

.show-item .img-container img{
    width: 100%;
   
}

.show-item .foodContent{
    width: 190px;
    height: 88px;
    padding: 18px 4px 18px 38px;  
    border-radius: 0 18px 18px 0;
    margin-left: -30px;
}
.show-item .tag{
    position: absolute;
    background: palegreen;
    top: 16.8px;
    right: 16px;
    z-index: 100;
    padding: 0px 4px;
    width: 22px;
    /* overflow: hidden; */
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    
}
.show-item .tag img{
    width: 100%;
}

.home nav ul{
    display: flex;
    flex-direction: column;
}
.home  nav ul li{
       display: inline;
       padding: 6px;
       /* margin: 8px; */
       
}
   
.home nav ul li a{
     display: inline-block;
       text-decoration: none;
       padding: 6px;
       border-radius: 56px;
       color: black;
       font-weight: 500;
       width: 100%;
}
  
.home nav ul li a:hover{
    background-color: rgb(110, 102, 102);
    color: white;
    
}
.home nav ul li a.active{
    background-color: rgb(65, 60, 60);
    color: white;
    
}
  
